<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <meta charset="UTF-8">
    <title>글 목록</title>
</head>
<body>
<table>
    <tr>
        <th>
            작성자
        </th>
        <th>
            제목
        </th>
        <th>
            내용
        </th>
        <th>
            작성일자
        </th>
        <th>
            수정일자
        </th>
    </tr>
    <tr th:each="board: ${boards}">
        <td th:text="${board.memberId}"></td>
        <td>
            <a th:href="@{/board/${board.id}}" th:text="${board.title}" />
        </td>
        <td th:text="${board.content}"></td>
        <td th:text="${board.createdDate}"></td>
        <td th:text="${board.updatedDate}"></td>
    </tr>
</table>
</body>
</html>