<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<head>
    <meta charset="UTF-8">
    <title>멤버 목록</title>
</head>
<body>
    <table>
        <tr>
            <th>
                email
            </th>
            <th>
                name
            </th>
            <th>
                role
            </th>
        </tr>
        <tr th:each="member: ${members}">
            <td th:text="${member.email}"></td>
            <td th:text="${member.name}"></td>
            <td th:text="${member.role}"></td>
        </tr>
    </table>
</body>
</html>