<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <form id="loginForm">
        <label>ID : </label>
        <input type="text" placeholder="Enter Username" name="email" required>
        <label>Password : </label>
        <!-- NOTE. It can expose password. So, please apply TLS or encrypt this field. -->
        <input type="password" placeholder="Enter Password" name="password" required>
        <button id="submitBtn" type="submit">Login</button>
    </form>
</body>

<script>
  $("form").submit(function (event) {
    return false;
  });

  $("#submitBtn").click(function () {
    var data = {};
    $.each($('#loginForm').serializeArray(), function (index, field) {
      data[field.name] = field.value;
    });

    $.ajax({
      type: 'POST',
      url: '/api/login',
      contentType: "application/json",
      Accept: "application/json",
      data: JSON.stringify(data),
      success: function (data) {
        // Do something
        // For example, move to main page..
        alert('login success')
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert('login failed !')
        location.reload();
      }
    })
  });
</script>
</html>